html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, a, ul, li, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: #222222;
}

ul {
  list-style: none;
}

body {
  color: #222222;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.header-top {
  padding: 50px 15px 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 0 40px;
  font-size: 18px;
  line-height: 24px;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__button-search,
.header__button-buy {
  margin-right: 20px;
  border: none;
  background-color: #fff;
}

.header__button-buy {
  margin-right: 32px;
}

.header__button-regestar {
  padding: 10px 23px;
  background-color: #09A66D;
  border: none;
  border-radius: 8px;
}

.header__button-regestar-link {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}

.header-content {
  background-color: #F3FBF8;
  text-align: center;
}

.header-content__inner {
  position: relative;
  padding-top: 93px;
}

.header-content__title {
  font-family: "Rosario", sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.header-content__text {
  max-width: 637px;
  text-align: center;
  color: #555555;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto 40px;
  position: relative;
  z-index: 1;
}

.header-content__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  padding-bottom: 453px;
}
.header-content__box span {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.button--arrow {
  border: none;
  background-color: #F3FBF8;
}
.button--arrow img {
  background-color: #F3FBF8;
}

.header-content__box-items {
  position: absolute;
  bottom: 50px;
  right: 0px;
}

.header-content__box-items img {
  display: block;
  margin-bottom: 30px;
}

.header-content__decor-1 {
  position: absolute;
  top: -40px;
  left: -60px;
}

.header-content__decor-2 {
  max-width: 862px;
  height: 456px;
  position: absolute;
  left: -45px;
  bottom: 10px;
}

.about {
  padding: 140px 0 146px;
}

.about-inner {
  display: flex;
  position: relative;
}

.question {
  font-size: 65px;
  font-weight: 700;
  line-height: 90px;
  font-family: "Rosario", sans-serif;
  margin-bottom: 20px;
}

.about-text {
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 56px;
}

.service {
  display: flex;
  gap: 24px;
  padding: 40px 60px 40px;
  max-width: 500px;
}

.online-order {
  background-color: #F3FBF8;
}

.serviceAllDay {
  margin-bottom: 50px;
}

.service-text-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-service {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.about-service-text {
  color: #555555;
}

.arrow-down {
  position: absolute;
  left: 236px;
}

.about-box-2 {
  display: flex;
  align-items: center;
}

.explor {
  background-color: #F3FBF8;
  padding: 88px 0 143px;
}

.explor-inner {
  display: flex;
  gap: 50px;
}

.explor-box-2 {
  position: relative;
}

.explor-title {
  font-size: 75px;
  font-weight: 700;
  line-height: 90px;
  font-family: "Rosario", sans-serif;
  margin-bottom: 20px;
}

.explor-text {
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 82px;
}

.explor__btn-arrow {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0 20px;
}
.explor__btn-arrow span {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.explor-decor-img {
  position: absolute;
  left: 127px;
  bottom: -153px;
}/*# sourceMappingURL=style.css.map */