@import './colors.scss';

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, a, ul, li, p{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: $black;
}

ul{
    list-style: none;
}

body{
    background-color: $black-squeeze;
    color: $black;
    font-family: $dm;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}


// *** HEADER ***
.header-top {
    padding: 50px 15px 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-list {
    display: flex;
    align-items: center;
    gap: 0 40px;
    font-size: 18px;
    line-height: 24px;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__button-search,
.header__button-buy {
    margin-right: 20px;
    border: none;
    background-color: $black-squeeze;
}

.header__button-buy {
    margin-right: 32px;
}

.header__button-regestar {
    padding: 10px 23px;
    background-color: $green;
    border: none;
    border-radius: 8px;
}

.header__button-regestar-link {
    color: $white;
    font-size: 18px;
    line-height: 20px;
}

// *** HEADER CONTENT ***
.header-content{
    text-align: center;
}

.header-content__inner{
    position: relative;
    padding-top: 93px;
}

.header-content__title{
    font-family: $rosa;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;

}

.header-content__text{
    max-width: 637px;
    text-align: center;
    color: $grey;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto 40px;
    position: relative;
    z-index: 1;
}


.header-content__box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    padding-bottom: 453px;

    span{
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
    }
}

// I've used the '.button--arrow' for the section 'header-content' and also for the section 'explor'.
.button--arrow{
    border: none;
    background-color: $black-squeeze;

    img{
        background-color: $black-squeeze;
    }
}

.header-content__box-items {
    position: absolute;
    bottom: 50px;
    right: 0px; 
}

.header-content__box-items img {
    display: block;
    margin-bottom: 30px;
}

.header-content__decor-1{
    position: absolute;
    top: -40px;
    left: -60px;
}

.header-content__decor-2{
    width: 862px;
    height: 456px;
    position: absolute;
    left: -45px;
    bottom: 10px;
}

// *** SECTION ABOUT ***
.about{
    padding: 140px 0 146px;
}

.about-inner{
    display: flex;
    position: relative;

}

.question{
    font-size: 65px;
    font-weight: 700;
    line-height: 90px;
    font-family: $rosa;
    margin-bottom: 20px;
}

.about-text{
    font-size: 18px;
    line-height: 30px;
    color: $grey;
    margin-bottom: 56px;
}

.service{
    display: flex;
    gap: 24px;
    padding: 40px 60px;
    max-width: 500px;
}

.online-order{
    background-color: #F3FBF8;
}

.serviceAllDay{
    margin-bottom: 50px;
}
.service-text-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about-service{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.about-service-text{
    color: $grey;
}

.arrow-down{
    position: absolute;
    left: 236px;
}

.about-box-2{
    display: flex;
    align-items: center;
}

// *** SECTION EXPLOR ***
.explor{
    background-color: #F3FBF8;
    padding: 88px 0 143px;
}

.explor-inner{
    display: flex;
    gap: 50px;
}

.explor-box-2{
    position: relative;
}

.explor-title{
    font-size: 75px;
    font-weight: 700;
    line-height: 90px;
    font-family: $rosa;
    margin-bottom: 20px;
}

.explor-text{
    font-size: 18px;
    line-height: 30px;
    color: $grey;
    margin-bottom: 82px;
}

.explor__btn-arrow{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0 20px;

    span{
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
    }
}

.explor-decor-img{
    position: absolute;
    left: 185px;
    bottom: -153px;
}

// *** SECTION COMMMENT ***
.comment{
    padding: 96px 0 150px;
}

.comment-inner{
    display: flex;
    gap: 100px;
}

.commert__box-1{
    position: relative;
}

.comment-title{
    font-family: $rosa;
    font-size: 70px;
    font-weight: 700;
    line-height: 90px;
    margin-bottom: 30px;
}

.comment-text{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}

.comment-theName{
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
}

.arrow-left-btn,
.arrow-right-btn{
    position: absolute;
    bottom: 0px;
    right: 210px;
}
.arrow-left-btn{
    right: 296px;
}


// *** SECTION APP ***
.app{
    padding-bottom: 139px;
}

.app-inner{
    padding: 0 100px;
    display: flex;
    gap: 112px;
}

.title-app{
    font-size: 70px;
    font-weight: 700;
    line-height: 90px;
    font-family: $rosa;
    margin-bottom: 20px;
}

.text-app{
    font-size: 18px;
    line-height: 30px;
    color: $grey;
    margin-bottom: 50px;
}

// *** FOOTER ***
.footer{
    padding: 67px 0 118px;
}

.footer-inner{
    display: flex;
    gap: 0 157px;
}

.footer__logo-img{
    margin-bottom: 30px;
}

.footer__content-1__text{
    max-width: 345px;
    font-size: 18px;
    line-height: 30px;
    color: $grey;
}

.footer__content-2{
    display: flex;
    gap: 142px;
    align-items: center;
    
}

.text-navigator,
.text-resources,
.contact{
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 40px;
}

.footer__list-link,
.footer__resources__list-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #555555;
}

.footer__list-item,
.footer__resources__list-item{
    margin-bottom: 24px;
}
.footer__list-item--lastChild,
.footer__resources__list-item--lastChild{
    margin: 0;
}

.mail{
    display: block;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 25px;
}

.box-icons{
    display: flex;
    gap: 50px;
}

@media screen and (max-width: 1290px){
// *** SECTION EXPLOR ***
    .explor-decor-img {
        position: absolute;
        left: 151px;
        bottom: -153px;
    }
}

@media screen and (max-width: 1275px){
// *** SECTION ABOUT ***
    .question {
        font-size: 56px;
    }

// *** SECTION EXPLOR ***
    .explor-decor-img {
        left: 160px;
        bottom: -135px;
        width: 360px;
        height: 320px;
    }
}

@media screen and (max-width: 1190px){
// *** SECTION ABOUT ***
    .question {
        font-size: 50px;
    }

    // *** SECTION EXPLOR ***
    .explor-decor-img {
        display: none;
    }
}

@media screen and (max-width: 1132px){
// *** SECTION ABOUT ***
    .question {
        font-size: 44px;
    }
    .service {
        padding: 40px;
    }
// *** SECTION EXPLOR ***
    .explor-title {
        font-size: 62px;
        font-weight: 700;
        line-height: 70px;
    }

    .explor-text {
        margin-bottom: 62px;
}

    .explor-img{
        width: 560px;
        height: 580px;
    }

}


@media screen and (max-width: 1085px){
// *** HEADER CONTENT ***
    .header-content__title {
    font-size: 66px;
    }

    .header-content__decor-2 {
    width: 810px;
    height: 420px;
    }

    .header-content__box-items img{
        width: 210px;
        height: 100px;
    }

// *** SECTION ABOUT ***
    .question {
        font-size: 40px;
    }
    
    .about-text{
        font-size: 18px;
    }

    .service {
        padding: 40px 0;
    }

// *** SECTION EXPLOR ***
    .explor-text {
        margin-bottom: 42px;
}
}

@media screen and (max-width: 1035px){
// *** SECTION ABOUT ***
    .about-img{
        display: none;
    }

    .service {
        padding: 40px 0  40px 100px;
    }

    .question{
        font-size: 50px;
    }
    
    .about-text{
        max-width:700px;
    }

    .about {
        padding: 120px 0 126px;
    }

// *** SECTION EXPLOR ***
    .explor-title {
        font-size: 56px;
        line-height: 70px;
}

    .explor-img{
        width: 540px;
        height: 560px;
    }
}

@media screen and (max-width: 990px){
    .header-top {
        padding: 50px 0 43px;
    }

    .header__menu-list {
        gap: 0 30px;
    }

    .header__button-search, 
    .header__button-buy {
        margin-right: 10px;
    }

// *** HEADER CONTENT ***
    .header-content__title {
        font-size: 62px;
        }
    
    .header-content__text{
        font-size: 16px;
    }

    .header-content__decor-2 {
        width: 725px;
        height: 380px;
    }
    
    .header-content__box-items img{
        width: 190px;
        height: 90px;
    }

// *** SECTION ABOUT ***
    .about {
        padding: 100px 0 106px;
    }

// *** SECTION EXPLOR ***
    .explor-title {
        font-size: 54px;
    }

    .explor-img{
        width: 500px;
        height: 540px;
    }
}

@media screen and (max-width: 890px){
    .header__menu-list {
        gap: 0 15px;
    }
    
    .header__button-search, 
    .header__button-buy {
        margin-right: 5px;
    }

// *** HEADER CONTENT ***
    .header-content__decor-1{
        width: 500px;
        height: 358px;
    }

    .header-content__box{
        padding-bottom: 15px;
    }

    .header-content__decor-2 {
        position: static;
        max-width: 100%;
        height: auto;
    }

    .header-content__box-items {
        position: static;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 30px;
    }
    
    .header-content__box-items img {
        display: block;
        margin-bottom: 30px;
    }

// *** SECTION ABOUT ***
    .about {
        padding: 90px 0 96px;
    }

// *** SECTION EXPLOR ***
    .explor-title {
        font-size: 54px;
    }

    .explor-img{
        max-width: 430px;
        height: 450px;
    }
}

@media screen and (max-width: 815px){
// *** SECTION EXPLOR ***
    .explor-inner {
        gap: 25px;
    }

    .explor-title {
        font-size: 50px;
        line-height: 60px;
    }

    .explor-text {
        font-size: 16px;
        margin-bottom: 52px;
    }

    .explor-img{
        max-width: 410px;
        height: 450px;
    }
}

@media screen and (max-width: 750px){
// *** HEADER CONTENT ***
    .header-content__decor-1{
        width: 450px;
        height: 308px;
    }

    .header-content__title {
        font-size: 56px;
        }
    
    .header-content__text{
        max-width: 500px;
        line-height: 26px;
        font-size: 14px;
        font-weight: 500;
    }

// *** SECTION ABOUT ***
    .question{
        font-size: 48px;
    }

    .about {
        padding: 80px 0 86px;
    }

// *** SECTION EXPLOR ***
    .explor-text {
        max-width: 650px;
        font-size: 18px;
        margin-bottom: 52px;
    }

    .explor-img{
        display: none;
    }

    .explor__btn-arrow{
        justify-content: center;
    }
}

@media screen and (max-width: 675px){
// *** HEADER CONTENT ***
    .header-content__title {
        font-size: 58px;
        line-height: 80px;
        }
    
    .header-content__text{
        max-width: 450px;
        line-height: 22px;
    }

    .header-content__box-items{
        gap: 20px;

        img{
            width: 165px;
            height: 75px;
        }
    }

// *** SECTION ABOUT ***
    .about {
        padding: 70px 0 76px;
    }

    .service {
        padding: 40px;
    }

// *** SECTION EXPLOR ***
    .explor {
        padding: 58px 0 143px;
    }

    .explor-title{
        font-size: 48px;
    }

    .explor-text {
        max-width: 600px;
        font-size: 16px;
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 552px){
// *** HEADER CONTENT ***
    .header-content__title {
        font-size: 54px;
        line-height: 70px;
        }
    
    .header-content__text{
        max-width: 400px;
        line-height: 22px;
    }

    .header-content__box-items{
        display: none;
    }

// *** SECTION ABOUT ***
    .service {
        padding: 20px;
    }

    .question{
        font-size: 44px;
    }
    
    .about-text{
        font-size: 16px;
        max-width:700px;
    }

    .about {
        padding: 50px 0 56px;
    }
}

@media screen and (max-width: 475px){
// *** SECTION ABOUT ***
    .service {
        padding: 20px 0px;
    }

    .question{
        font-size: 40px;
        line-height: 40px;
    }
    
    .about-text{
        font-size: 16px;
        max-width:700px;
    }

    // *** SECTION EXPLOR ***
    .explor {
        padding: 0 0 143px;
    }

    .explor-title{
        font-size: 42px;
    }

    .explor-text {
        max-width: 600px;
        font-size: 16px;
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 435px){
// *** HEADER CONTENT ***
    .header-content__decor-1{
        width: 350px;
        height: 258px;
    }

    .header-content__title {
        font-size: 44px;
        line-height: 70px;
        }
    
    .header-content__text{
        max-width: 350px;
        line-height: 22px;
    }

// *** SECTION ABOUT ***
    .service {
        padding: 10px 0px;
        font-size: 14px;
        gap: 0;
        justify-content: space-between;
    }

    .question{
        font-size: 36px;
    }
    
    .about-text{
        font-size: 14px;
        max-width:700px;
        margin-bottom: 36px;
    }

    .about-service-text{
        margin-bottom: 30px;
    }

    .about-service{
        font-size: 18px;
    }

    .service-img{
        display: none;
    }

    .arrow-down {
        position: static;
        display: block;
        margin: 0 auto;
    }
}