@import './variables.scss';
@import './reset.scss';
@import './mixin.scss';

body{
    background-color: $black-squeeze;
    color: $black;
    font-family: $dm;
    @include sample ($fz14, $fw400, $lh20);
}

// *** HEADER TOP MENU ***
.header__top-menu{
    padding: 50px 0 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sample ($fz18, $fw400, $lh24);

    nav a{
        margin-right: 40px;
        &:nth-child(4){
            margin: 0;
        }
    }

    div{
        display: flex;
        align-items: center;

        a:nth-child(2){
            margin: 0 32px 0 28px;
        }

        button{
            padding: 10px 23px;
            border: none;
            border-radius: 6px;
            background-color: $green;
            color: $white;
        }
    }
}

// *** HEADER CONTENT ***
.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    h1, p, a{
    z-index: 1;
    }

    h1{
        margin: 93.97px 0 20px 0;
        font-family: $rosa;
        @include sample ($fz70, $fw700, $lh90);
    }

    p{
        margin-bottom: 40px;
        max-width: 637.01px;
        color: $grey;
        @include sample ($fz18, $fw400, $lh30);
    }

    a{
        display: flex;
        align-items: center;
        gap: 20px;

        span{
            @include sample ($fz18, $fw500, $lh30)
        }
    }

    .header-leaves, .vegetables-fruits, .header__content__box{
        position: absolute;
    }

    .header-leaves{
        top: -20px;
        left: 0;
        max-width: 100%;
    }

    .vegetables-fruits{
        top: 420px;
        left: 0;
        max-width: 75%;
    }

    .header__content__box{
        top: 400px;
        right: 0;

        img{
            display: block;
            margin-bottom: 47px;
            max-width: 100%;
        }
    }
}

// *** SECTION ABOUT ***

// *** SECTION EXPLOR ***

// *** SECTION COMMMENT ***

// *** SECTION APP ***

// *** FOOTER ***

// ************* MEDIA  *************
