// *** COLOR ***
$white: #fff;
$black: #222222;
$green: #09A66D;
$grey: #555555;
$black-squeeze: #F3FBF8;

// *** FONT FAMILY ***
$dm: 'DM Sans', sans-serif;
$rosa: 'Rosario', sans-serif;

// *** FONT SIZE ***
$fz14: 14px;
$fz18: 18px;
$fz48: 48px;
$fz70: 70px;

// *** FONT WEIGHT ***
$fw400: 400;
$fw500: 500;
$fw700: 700;

// *** LINE HEIGHT ***
$lh18: 18px;
$lh20: 20px;
$lh24: 24px;
$lh30: 30px;
$lh48: 48px;
$lh90: 90px;